<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.joni.basicchatapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".Login"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".ChatProvider"
            android:authorities="com.example.joni.basicchatapp.ChatProvider"
            android:enabled="true" />

        <activity android:name=".MenuActivity" />

        <service
            android:name=".services.LoginService"
            android:exported="false" />
        <service
            android:name=".services.LoadUsersService"
            android:exported="false" />
        <service
            android:name=".services.LoadGroupsService"
            android:exported="false" />
        <service
            android:name=".services.LoadGroupMessagesService"
            android:exported="false" />
        <service
            android:name=".services.ChatWebSocketService"
            android:exported="false" />
        <service
            android:name=".services.PostMessageService"
            android:exported="false" />
        <service
            android:name=".services.CreateGroupService"
            android:exported="false" />

        <receiver android:name=".services.LoginReceiver" />

        <activity android:name=".ChatScreenActivity"></activity>
    </application>

</manifest>
